{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}


<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4"> {{ object.title }} </h1>

      <!-- Author -->
      <small> <p class="lead">
        by
        <a href="{% url 'users:user_detail' pk=object.user.pk %}">{{ object.user }}</a> on {{ object.created_date }}
      </p></small>



      {% if object.image %}

      <img class="img-fluid rounded" src=" {{ object.image.url }} " alt="">

      {% endif %}

      <hr>

      <p>{{ object.content }}</p>

      <hr>
      <p>Score of this question: <b>{{ object.question_rank }}</b> Your last choice: {{question_vote.vote_value}}</p>
      <form action="{% url 'questions:question_rank' pk=object.pk %}" method="POST">{% csrf_token %}

        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="decrease" name="vote">Decrease
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="increase" name="vote">Increase
          </label>
        </div>
        <button type="submit" class="btn btn-sm btn-warning">Vote</button>
      </form>
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Answer:</h5>
        <div class="card-body">
          <form method="POST" action="{% url 'questions:answer_create' pk=object.pk %}"> {% csrf_token %}
            {{ form|crispy }}
            {% comment %} <div class="form-group">
              <textarea class="form-control" name="answer" rows="3"></textarea>
            </div> {% endcomment %}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      {% for answer in answers %}
      <!-- Comment with nested comments -->
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/40x40" alt="">
        <div class="media-body">
          <h5 class="mt-0"> {{ answer.user }} <small> on {{answer.created_date}}</small></h5>
          {{ answer.content }}
          <form action="{% url 'questions:answer_rank' pk=object.pk answer_pk=answer.pk %}" method="POST">{% csrf_token %}
            Score of this answer: <b>{{answer.answer_rank}}</b>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" value="decrease" name="vote">Decrease
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" value="increase" name="vote">Increase
              </label>
            </div>
            <button type="submit" class="btn btn-sm btn-warning">Vote</button>
          </form>

          {% for reply in answer.replies.all %}

          <div class="media mt-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/40x40" alt="">
            <div class="media-body">
              <h5 class="mt-0">{{ reply.user }} <small> on {{answer.created_date}}</small></h5>
              {{ reply.content }}
            </div>
          </div>

          {% endfor %}
          <form method="POST" action="{% url 'questions:answer_create' pk=object.pk %}"> {% csrf_token %}
            {{form|crispy}}
            <input type="hidden" name="parent_id" value="{{ answer.id }}">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>



      {% endfor %}
    </div>


    {% endblock body %}
