{% extends "base.html" %}

{% block body %}

<div class="container">
  <h1 class="my-4">Questions
  </h1>

  {% if request.user.is_authenticated %}
  <a href="{% url 'questions:question_create' %}" class="btn btn-primary" style="background-color: #314d47;">Create
    Question</a>
  <hr>

  {% endif %}


  <form method="POST" action="."> {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-3">
        <label>Search in Titles</label>
        <input type="text" name="title" class="form-control" placeholder="Write Title">
      </div>
      <div class="form-group col-md-3">
        <label>Search in Tags</label>
        <input type="text" name="tag" class="form-control" placeholder="Write Tag">
      </div>
      <div class="form-group col-md-3">
        <label>Search in Users</label>
        <input type="text" name="user" class="form-control" placeholder="Write Username">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label>Search by Min Date</label>
        <input type="date" name="min_date" class="form-control" placeholder="Min Date">
      </div>
      <div class="form-group col-md-3">
        <label>Search by Max Date</label>
        <input type="date" name="max_date" class="form-control" placeholder="Max Date">
      </div>
      <div class="form-group col-md-3">
        <label>Search by Min Rank</label>
        <input type="number" name="min_rank" class="form-control" placeholder="Min Rank">
      </div>
      <div class="form-group col-md-3">
        <label>Search by Max Rank</label>
        <input type="number" name="max_rank" class="form-control" placeholder="Max Rank">
      </div>

    </div>


    <button type="submit" class="btn btn-danger" style="background-color: #314d47;"> Search</button>
  </form>

  <div class="list-group">



    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Tag</th>
          <th scope="col">User of the Question</th>
          <th scope="col">Created Date</th>
          <th scope="col">Rank</th>
          <th scope="col">Answer</th>
        </tr>
      </thead>
      <tbody>
        {% for question in object_list %}
        <tr>
          <th scope="row"> {{forloop.counter}} </th>
          <td> <a href=" {% url 'questions:question_detail' pk=question.pk %} "> {{ question.title|truncatechars:20}}
            </a></td>
          <td> {% for tag in question.tag.all %}
            <a href=" {% url 'tags:tag_detail' pk=tag.pk %} ">{{tag.title}}, </a>
            {% endfor %} </td>
          <td> {{ question.user}} </td>
          <td> {{ question.created_date}} </td>
          <td> {{ question.rank}} </td>
          <td> {{ question.answers.count }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


  </div>
</div>

{% endblock body %}