<nav class="navbar navbar-expand-lg" style="background-color:#314d47;">
    <a class="navbar-brand"  style="color: white;" href="{% url 'homepage' %}">Soft</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand" style="color: white;" href="{% url 'questions:question_list' %}" >Questions <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" style="color: white;" href="{% url 'users:user_list' %}">Users</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand"  style="color: white;" href="{% url 'tags:tag_list' %}">Tags</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" style="color: white;" href="#">Jobs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="navbar-brand dropdown-toggle"  style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Yes</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        
      </ul>
      
     

      <ul class="navbar-nav ml-auto">
            

        {% if request.user.is_authenticated %}
        <li class="nav-item active">
          <a class="btn btn-outline-danger" style="color: white;" href="{% url 'logout' %}">Logout</a>
        </li>

        {% else %}
          <li class="nav-item active">
          <a class="btn btn-outline-danger" style="color: white;" href="{% url 'users:register' %}">Register</a>
        </li> &nbsp;&nbsp;
        <li class="nav-item active">
          <a class="btn btn-outline-danger" style="color: white;" href="{% url 'login' %}">Login</a>
        </li>

        {% endif %}
                 
      </ul>

      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>  -->


    </div>
  </nav>