{% extends "base.html" %}

{% block body %}


  <!-- Page Content -->
  <div class="container">

        <!-- Heading Row -->
        <div class="row align-items-center my-5">
          <div class="col-lg-5">
            {% if object.tag_image %}
                <img class="img-fluid rounded mb-4 mb-lg-0" src="{{object.tag_image.url}}" style =" heigh:300px; width:300px;">
            {% endif %}


            
          </div>
          <!-- /.col-lg-8 -->
          <div class="col-lg-5">
            <h1 class="font-weight-light">{{object.title}}</h1>
            <p>{{object.content}}</p>
          
          </div>
          <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    
        <!-- Call to Action Well -->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
          <div class="card-body">
            <p class="text-white m-0">Question about {{object.title}}</p>
          </div>
        </div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Tag</th>
      <th scope="col">User of the Question</th>
      <th scope="col">Created Date</th>
      <th scope="col">Rank</th>
      <th scope="col">Answer</th>
    </tr>
  </thead>
  <tbody>
  {% for question in questions %}
    <tr>
      <th scope="row"> {{forloop.counter}} </th>
      <td> <a href=" {% url 'questions:question_detail' pk=question.pk %} "> {{ question.title|truncatechars:20}} </a></td>
      <td> {% for tag in question.tag.all %} 
      <a href=" {% url 'tags:tag_detail' pk=tag.pk %} ">{{tag.title}}, </a> 
       {% endfor %} </td> 
      <td> {{ question.user}} </td>
      <td> {{ question.created_date}} </td>
      <td> {{ question.question_rank}} </td>
      <td> {{ question.answers.count }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>




{% endblock body %}

