{% extends "base.html" %}

{% block body %}


<div class="container emp-profile" style="margin-top:20px;">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                
                <div class="profile-img">
                    {% if object.image %}
                    <img class="card-img-bottom" style="width:300px; height:200;" src="{{ object.image.url }}">
                    {% endif %}

                </div>
            </div>
            <div class="col-md-6">
              
                <div class="profile-head">
                    <h5>
                       Username: <strong>{{ object.username }}</strong> 
                        
                    </h5>
                    <h6>
                         {{object.first_name}} {{object.last_name}} 
                    </h6>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            {% if request.user.username == object.username %}
            <div class="col-md-2">
            
                <a href=" {% url 'users:user_update' %} " class="btn btn-danger"> Update </a>
            </div>
            
            {% endif %}
            
            
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>Tags of Interest</p>
                    {% for tag in object.tag.all %}
                    <a href="">{{tag}}</a><br />
                    {% endfor %}
                    <p>SKILLS</p>
                  
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{object.first_name|title}} {{object.last_name|title}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{object.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{object.phone}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>location</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{object.location}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br />
                                <p>{{object.biography}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Experience</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{object.experience}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Hourly Rate</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{object.hourly_rate}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Total Projects</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{object.total_project}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Github link or name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{object.github_link}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock body %}