{% extends "base.html" %}

{% block body %}

<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>User</span></th>
                                <th><span>Created</span></th>
                                </tr>
                            </thead>
                            <tbody>


                            {% for object in object_list %}
                            
                            
                                <tr>
                                    <td>
                                    {% if object.image %}
                                      <img class ="thumbnail" src="{{object.image.url}}" style="width:150px;height:150px">

                                    <br>
                                    {% endif %}
                                        <span class="user-subhead"><a href="{% url 'users:user_detail' pk=object.id %}">{{object.username}}</a> </span>
                                    </td>
                                    <td> {{ object.created_date}} </td>
                                </tr>
                                {% endfor %}  
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}

