{% extends "base.html" %}


{% block body %}

<style>

body {
 background-image: url(media/laptop.jpg);
 background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

  <!-- Page Content -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="mt-5" style="color: whitesmoke;">Kinda Stackoverflow</h1>
          <p  style="color: whitesmoke;">Hello there! I code this website when i was learning Django and a little bit CSS. When i decided to learn these subject i selected stackoverflow. Because it has a lot of features. So i can learn a lot of things :) </p>
        </div>
      </div>
    </div>
  </section>


{% endblock body %}

