{% extends "base.html" %}

{% block body %}
{% load static %}

<style>

  html, body {
    min-height: 100%;
  }

  body {
    background-image: url("{%static 'img/question.png'%}");
    background-repeat: no-repeat;
    background-position: right;

  }
</style>

<!-- Page Content -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="mt-5" style="color: black;">Kinda Stackoverflow</h1>
        <p style="color: black;">Hello there! I code this website when i was learning Django and a little bit CSS.
          When i decided to learn these subject i selected stackoverflow. Because it has a lot of features. So i can
          learn a lot of things :) </p>
      </div>
    </div>
  </div>
</section>


{% endblock body %}
